{namespace form=TYPO3\Form\ViewHelpers}
<f:form.validationResults for="{element.identifier}">
	<f:if condition="{element.properties.colElement}=='first'">
		<div class="{element.properties.rowClassAttribute}">
	</f:if>

	<div class="{f:if(condition: element.properties.colElement, then: '{element.properties.colClassAttribute} ')}{element.properties.containerClassAttribute}{f:if(condition: validationResults.flattenedErrors, then: ' {element.properties.errorClassAttribute}')}"<f:if condition="{element.rootForm.renderingOptions.previewMode}"> data-element="{form:form.formElementRootlinePath(renderable:element)}"</f:if>>
		<f:if condition="{element.properties.renderLabel}">
			<label for="{element.uniqueIdentifier}"><f:translate id="{element.identifier}" source="Forms" package="{element.renderingOptions.translationPackage}" /><f:if condition="{element.required}"><f:render partial="TYPO3.Form:Field/Required" /></f:if></label>
		</f:if>
		<div class="input">
			<f:render section="field" />
			<f:if condition="{validationResults.flattenedErrors}">
				<span class="help-inline">
					<f:for each="{validationResults.errors}" as="error">
						{error -> f:translate(id: error.code, arguments: error.arguments, package: '{element.renderingOptions.translationErrorPackage}', source: 'ValidationErrors')}
						<br />
					</f:for>
				</span>
			</f:if>
			<f:if condition="{element.properties.elementDescription}">
				<span class="help-block">{element.properties.elementDescription}</span>
			</f:if>
		</div>
	</div>

	<f:if condition="{element.properties.colElement}=='last'">
		</div>
	</f:if>
</f:form.validationResults>
