{namespace form=TYPO3\Form\ViewHelpers}
{namespace dp=Dotpulse\Form\ViewHelpers}
<f:form.validationResults for="{element.identifier}">

	<f:comment><!--container for 'TYPO3.Form:MultipleSelectCheckboxes' and 'TYPO3.Form:SingleSelectRadiobuttons'--></f:comment>
	<f:if condition="{element.type}!='TYPO3.Form:Checkbox'">
		<f:comment><!--check if 'inlineStyle' is set or not--></f:comment>
		<div class="{f:if(condition: element.renderingOptions.inlineStyle, then: element.renderingOptions.inlineClassAttribute, else: element.renderingOptions.blockClassAttribute)}{f:if(condition: validationResults.flattenedErrors, then: ' {element.renderingOptions.error.containerClassAttribute}')}">

		<f:comment><!--the rendering for the label depends, if 'renderLabel' is set--></f:comment>
		<f:if condition="{element.renderingOptions.renderLabel}">
			<f:comment><div class="{element.renderingOptions.labelClassAttribute}"><f:translate id="{element.identifier}" source="{element.renderingOptions.translationFile}" package="{element.renderingOptions.translationPackage}" /><f:if condition="{element.required}"><f:render partial="TYPO3.Form:Field/Required" /></f:if></div></f:comment>
			<div class="{element.renderingOptions.labelClassAttribute}">{element -> dp:translateElementProperty(property: 'label') -> f:format.nl2br()}<f:if condition="{element.required}"><f:render partial="TYPO3.Form:Field/Required" /></f:if></div>
		</f:if>
	</f:if>

		<f:render section="field" />

	<f:comment><!--close container for 'TYPO3.Form:MultipleSelectCheckboxes' and 'TYPO3.Form:SingleSelectRadiobuttons'--></f:comment>
	<f:if condition="{element.type}!='TYPO3.Form:Checkbox'">
		</div>
	</f:if>
</f:form.validationResults>
