@mixin ghost-button($color, $hover, $background) {
	background: transparent;
	color: $color !important;
	border-color: $color;

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > &.dropdown-toggle {
		color: $hover !important;
		background-color: $background;
		border-color: $background;
		outline: none;
	}

	&:active,
	&.active,
	.open > &.dropdown-toggle {
		background-image: none;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			color: $color !important;
			background-color: transparent;
		}
	}
}

.btn {
	@include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $line-height, $btn-border-radius);
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 0; // For input.btn
	font-weight: $btn-font-weight;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: $border-width solid transparent;
	white-space: nowrap;
	transition: all 0.2s ease;
	user-select: none;

	&:hover,
	&:focus,
	&.focus {
		text-decoration: none;
		transform: scale(1.02);
	}

	&:active,
	&.active {
		box-shadow: inset 0 3px 5px rgba(#000, 0.125);
		outline: 0;
		background-image: none;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: $cursor-disabled;
		pointer-events: none; // Future-proof disabling of clicks
		opacity: 0.65;
		box-shadow: none;
	}
}

.btn-default {
	@include ghost-button($body-color, #fff, $brand-primary);
}

.btn-primary {
	@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-link {
	padding: 0;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.btn-block {
	display: block;
	margin-bottom: 1em;
}

.btn-element {
	margin-bottom: 1em;
}
