// Input field in Material Design
$body-bg: #fff !default;
$brand-primary: #337ab7 !default;
$brand-danger: #d9534f !default;
$text-color: #333 !default;

// Font Sizes
$mf-font-size: 1rem !default;
$mf-active-font-size: $mf-font-size * 0.8 !default;
$mf-active-top: -$mf-font-size !default;

// Margin & Paddings & Heights
$mf-gap: $mf-font-size * 1.5 !default;
$mf-spacer: $mf-font-size / 8 !default;
$mf-form-margin: 0 0 $mf-gap * 2 !default;
$mf-checkbox-gap: $mf-font-size * 2 !default;
$mf-checkbox-top: 0 !default;
$mf-radio-top: 0 !default;
$mf-radio-margin: $mf-font-size / -4 !default;
$mf-form-height: ($mf-font-size * 1.875);

// Colors
$mf-input-color: $text-color !default;
$mf-border-color: lighten($text-color, 20%) !default;
$mf-focus-color: $brand-primary !default;
$mf-error-color: $brand-danger !default;
$mf-label-color: lighten($mf-border-color, 10%) !default;
$mf-active-color: darken($mf-border-color, 10%) !default;

// Animation
$mf-transition-speed: 0.28s !default;

// Features
$mf-radio-inline: false !default;
$mf-checkbox-inline: false !default;


// The Styles for the form
fieldset {
	margin: $mf-form-margin;
	padding: 0;
	border: none;
}

.form-mailer {
	margin-top: $mf-form-margin;
}

.form-radio,
.form-checkbox,
.form-group {
	position: relative;
	margin-top: ($mf-gap * 1.5);
	margin-bottom: ($mf-gap * 1.5);
}

.form-row {
	@extend .row;
	margin-top: ($mf-gap * 1.5);
	margin-bottom: ($mf-gap * 1.5);

	.form-radio,
	.form-group {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.form-inline {
	> .form-group,
	> .btn {
		display: inline-block;
		margin-bottom: 0;
	}
}

.form-help {
	margin-top: $mf-spacer;
	margin-left: $mf-spacer;
	color: $mf-label-color;
	font-size: $mf-active-font-size;

	.form-checkbox &,
	.form-radio &,
	.form-group & {
		position: absolute;
		width: 100%;
	}

	.form-checkbox &,
	.form-radio & {
		padding-top: ($mf-spacer * 2);
		margin-top: -$mf-font-size;
	}
}

.form-group {
	// scss-lint:disable QualifyingElement, NestingDepth
	input {
		height: $mf-form-height;
	}

	textarea {
		resize: none;
		min-height: 97px;
	}

	.control-label {
		position: absolute;
		top: ($mf-font-size / 4);
		left: 0;
		pointer-events: none;
		padding-left: $mf-spacer;
		z-index: 1;
		color: $mf-label-color;
		font-size: $mf-font-size;
		font-weight: normal;
		transition: all $mf-transition-speed ease;
	}

	.bar {
		position: relative;
		border-bottom: ($mf-font-size / 16) solid $mf-border-color;
		display: block;

		&::before {
			content: '';
			height: ($mf-font-size / 8);
			width: 0;
			left: 50%;
			bottom: ($mf-font-size / -16);
			position: absolute;
			background: $mf-focus-color;
			transition: left $mf-transition-speed ease, width $mf-transition-speed ease;
			z-index: 2;
		}
	}

	input,
	textarea {
		display: block;
		background: none;
		padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
		font-size: $mf-font-size;
		border-width: 0;
		border-color: transparent;
		line-height: $mf-form-height / 1rem;
		width: 100%;
		color: transparent;
		transition: all $mf-transition-speed ease;
		box-shadow: none;
	}

	input[type="file"] {
		line-height: 1;

		~ .bar {
			display: none;
		}
	}

	input.styled.has-focus,
	select.styled.has-focus,
	select.styled.has-value,
	input:focus,
	input.form-file,
	input.has-value,
	textarea:focus,
	textarea.form-file,
	textarea.has-value {
		color: $mf-input-color;

		~ .control-label {
			font-size: $mf-active-font-size;
			color: $mf-active-color;
			top: $mf-active-top;
			left: 0;
		}
	}

	input,
	textarea {
		&:focus {
			outline: none;

			~ .control-label {
				color: $mf-focus-color;
			}

			~ .bar {
				&::before {
					width: 100%;
					left: 0;
				}
			}
		}
	}

	input.styled.has-focus,
	select.styled.has-focus {
		~ .control-label {
			color: $mf-focus-color;
		}
		~ .bar {
			&::before {
				width: 100%;
				left: 0;
			}
		}
	}

	&.input-group {
		display: flex;

		.bar {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
		}

		input.form-control,
		textarea.form-control {
			position: relative;
			z-index: 2;
		}

		a {
			color: $mf-input-color;
			text-decoration: none;
			transition: color 0.2s ease;
			&:hover {
				color: $mf-focus-color;
			}
			i {
				line-height: $mf-form-height / 1rem;
			}
		}
	}
}

// Radio & Checkbox
.form-checkbox,
.form-radio {
	label {
		position: relative;
		cursor: pointer;
		padding-left: $mf-checkbox-gap;
		text-align: left;
		color: $mf-input-color;
		display: block;
		font-weight: normal;
	}

	input {
		width: auto;
		opacity: 0.001;
		position: absolute;
		left: 0;
	}
}

.form-checkbox,
.form-radio {
	margin-bottom: ($mf-gap * 1.5) - $mf-font-size;
}

.radio + .radio,
.checkbox + .checkbox {
	margin-top: $mf-font-size;
}

%radio-inline {
	display: inline-block;
	margin-right: 2rem;

	&:last-child {
		margin-right: 0;
	}
}

.radio {
	margin-bottom: $mf-font-size;

	.helper {
		position: absolute;
		top: $mf-radio-margin;
		left: $mf-radio-margin;
		cursor: pointer;
		display: block;
		font-size: $mf-font-size;
		user-select: none;
		color: $mf-border-color;

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: $mf-radio-top;
			margin: ($mf-spacer * 2);
			width: $mf-font-size;
			height: $mf-font-size;
			transition: transform $mf-transition-speed ease;
			border-radius: 50%;
			border: ($mf-font-size / 8) solid currentColor;
		}

		&:after {
			transform: scale(0);
			background-color: $mf-focus-color;
			border-color: $mf-focus-color;
		}
	}

	label:hover .helper {
		color: $mf-focus-color;
	}

	// scss-lint:disable QualifyingElement, NestingDepth
	input:checked {
		~ .helper {
			&:after {
				transform: scale(0.5);
			}

			&:before {
				color: $mf-focus-color;
			}
		}
	}

	@if $mf-radio-inline {
		&.radio {
			@extend %radio-inline;
		}
	} @else {
		.form-radio-inline & {
			&.radio {
				@extend %radio-inline;
			}
		}
	}
}

@if $mf-radio-inline == false {
	.form-radio-inline {
		.legend ~ .radio.radio {
			margin-top: 0;
		}
	}
}


%checkbox-inline {
	display: inline-block;
	margin-right: 2rem;

	&:last-child {
		margin-right: 0;
	}
}

.checkbox {
	margin-bottom: $mf-font-size;

	.helper {
		color: $mf-border-color;
		position: absolute;
		top: $mf-checkbox-top;
		left: 0;
		width: $mf-font-size;
		height: $mf-font-size;
		z-index: 0;
		border: ($mf-font-size / 8) solid currentColor;
		border-radius: ($mf-font-size / 16);
		transition: border-color $mf-transition-speed ease;

		&::before,
		&::after {
			position: absolute;
			height: 0;
			width: ($mf-font-size * 0.2);
			background-color: $mf-focus-color;
			display: block;
			transform-origin: left top;
			border-radius: ($mf-font-size / 4);
			content: '';
			transition: opacity $mf-transition-speed ease, height 0s linear $mf-transition-speed;
			opacity: 0;
		}

		&::before {
			top: ($mf-font-size * 0.65);
			left: ($mf-font-size * 0.38);
			transform: rotate(-135deg);
			box-shadow: 0 0 0 ($mf-font-size / 16) $body-bg;
		}

		&::after {
			top: ($mf-font-size * 0.3);
			left: 0;
			transform: rotate(-45deg);
		}
	}

	label:hover .helper {
		color: $mf-focus-color;
	}

	input:checked {
		~ .helper {
			color: $mf-focus-color;

			&::after,
			&::before {
				opacity: 1;
				transition: height $mf-transition-speed ease;
			}

			&::after {
				height: ($mf-font-size / 2);
			}

			&::before {
				height: ($mf-font-size * 1.2);
				transition-delay: $mf-transition-speed;
			}
		}
	}

	@if $mf-checkbox-inline {
		&.checkbox {
			@extend %checkbox-inline;
		}
	} @else {
		.form-checkbox-inline & {
			&.checkbox {
				@extend %checkbox-inline;
			}
		}
	}
}

@if $mf-checkbox-inline == false {
	.form-checkbox-inline {
		.legend ~ .checkbox.checkbox {
			margin-top: 0;
		}
	}
}

.input-group-addon,
.input-group-btn {
	white-space: nowrap;
	vertical-align: middle;
}

.spinner-icon {
	display: block;
	font-size: 8px;
	margin-top: 2px;
	cursor: pointer;

	&.spin-up {
		margin-top: 5px;
	}
	&:hover {
		transition: transform 0.2s ease;
		transform: scale(1.3);
		color: darken($greyish-brown, 35%);
	}
}


.has-error {
	.legend.legend,
	&.form-group .control-label.control-label {
		// Prevent !importantRule
		color: $mf-error-color !important;
	}

	&.form-group,
	&.checkbox,
	&.form-checkbox,
	&.radio,
	&.form-radio {
		.form-help,
		.helper {
			color: $mf-error-color;
		}
	}

	.bar {
		&::before {
			background: $mf-error-color;
			left: 0;
			width: 100%;
		}
	}
}
