<f:layout name="TYPO3.Form:Field" />
<f:section name="field">
	<f:form.textarea property="{element.identifier}" id="{element.uniqueIdentifier}" class="{element.properties.elementClassAttribute}" placeholder="{f:if(condition: element.properties.placeholder, then: '{f:translate(id: \'{element.identifier}.placeholder\', source: \'Forms\', package: \'{element.renderingOptions.translationPackage}\')}')}" rows="{element.properties.rows}" cols="{element.properties.cols}" errorClass="{element.properties.elementErrorClassAttribute}" />
</f:section>
