<f:layout name="TYPO3.Form:Field" />
<f:section name="field">
	<f:form.textfield property="{element.identifier}" type="{element.properties.type}" id="{element.uniqueIdentifier}" class="{element.properties.elementClassAttribute}" placeholder="{f:if(condition: element.properties.placeholder, then: '{f:translate(id: \'{element.identifier}.placeholder\', source: \'Forms\', package: \'{element.renderingOptions.translationPackage}\')}')}" required="{element.required}" errorClass="{element.properties.elementErrorClassAttribute}" />
</f:section>
