<f:layout name="TYPO3.Form:Field" />
<f:section name="field">
	<f:if condition="{element.required}">
		<f:then>
			<f:form.select property="{element.identifier}" id="{element.uniqueIdentifier}" options="{element.properties.options}" translate="{by: 'id', prefix: '{element.identifier}.', source: 'Forms', package: element.renderingOptions.translationPackage}" class="{element.properties.elementClassAttribute}" additionalAttributes="{required: true}" errorClass="{element.properties.elementErrorClassAttribute}" />
		</f:then>
		<f:else>
			<f:form.select property="{element.identifier}" id="{element.uniqueIdentifier}" options="{element.properties.options}" translate="{by: 'id', prefix: '{element.identifier}.', source: 'Forms', package: element.renderingOptions.translationPackage}" class="{element.properties.elementClassAttribute}" errorClass="{element.properties.elementErrorClassAttribute}" />
		</f:else>
	</f:if>
</f:section>
