// Dropdown
$selectize-padding-dropdown-item-x: 1em;
$selectize-padding-dropdown-item-y: 1em;
$selectize-max-height-dropdown: 201px;
$selectize-color-dropdown: #fff;
$selectize-color-dropdown-item-active: rgba(0, 0, 0, 0.1);

// Arrow Icon
$selectize-arrow-size: 5px;
$selectize-arrow-offset: 15px;
$selectize-arrow-color: $mf-border-color;

// Item used for tags
$selectize-color-item: #ddd;

select.styled {
	visibility: hidden;
	width: 0;
	height: $mf-form-height;
}

.selectize-control {
	position: relative;
	min-height: $mf-form-height;
}

.selectize-input {
	$inline-height: $mf-form-height - ($mf-spacer * 1.5);

	min-height: $mf-form-height;
	padding: $mf-spacer ($selectize-arrow-offset * 2) + $selectize-arrow-size ($mf-spacer / 2) $mf-spacer;
	font-size: $mf-font-size;
	line-height: $inline-height / 1rem;
	width: 100%;
	transition: all $mf-transition-speed ease;

	&.disabled, &.disabled * {
		cursor: default !important;
	}
	
	.item {
		color: $mf-input-color;
		vertical-align: baseline;
		display: inline-block;
		*display: inline;
		zoom: 1;
		line-height: $mf-form-height / 1rem;
		height: $inline-height;
	}

	.selectize-control.single & {
		&, input { cursor: pointer; }
		&.input-active, &.input-active input { cursor: text; }
		height: $mf-form-height;

		&:after {
			content: ' ';
			display: block;
			position: absolute;
			top: 50%;
			right: $selectize-arrow-offset;
			margin-top: round((-1 * $selectize-arrow-size / 2));
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $selectize-arrow-size $selectize-arrow-size 0 $selectize-arrow-size;
			border-color: $selectize-arrow-color transparent transparent transparent;
		}
		&.dropdown-active:after {
			margin-top: $selectize-arrow-size * -0.8;
			border-width: 0 $selectize-arrow-size $selectize-arrow-size $selectize-arrow-size;
			border-color: transparent transparent $selectize-arrow-color transparent;
		}
	}
	
	.selectize-control.multi & {
		cursor: text;
		.selectize-input {
			line-height: 0;
			font-size: 0;
		}
		> .item {
			$multi-inline-height: $inline-height * 0.85;
			cursor: pointer;
			background-color: $selectize-color-item;
			margin-right: 5px;
			padding: 2px 15px;
			line-height: $multi-inline-height / 1rem;
			height: $multi-inline-height;
			font-size: 1rem;

			&.active {
				background-color: darken($selectize-color-item, 15%);
			}
		}
		> input {
			line-height: $inline-height / 1rem;
		}
		&.disabled > div {
			&, &.active {
				background-color: lighten($selectize-color-item, 10%);
			}
		}
	}

	> input {
		height: $inline-height;
		display: inline-block !important;
		padding: 0 !important;
		min-height: 0 !important;
		max-height: none !important;
		max-width: 100% !important;
		text-indent: 0 !important;
		border: 0 none !important;
		background: none !important;
		-webkit-user-select: auto !important;
		box-shadow: none !important;
		transition: none;
		&:focus { outline: none !important; }

		&::-ms-clear {
			display: none;
		}
	}
}

.selectize-dropdown {
	position: absolute;
	z-index: 10;
	background: $selectize-color-dropdown;
	margin: 1px 0 0 0;
	box-sizing: border-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .26);

	[data-selectable] {
		cursor: pointer;
		overflow: hidden;
	}
	[data-selectable], .optgroup-header {
		padding: $selectize-padding-dropdown-item-y $selectize-padding-dropdown-item-x;
	}
	.active {
		background-color: $selectize-color-dropdown-item-active;
	}
}

.selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: $selectize-max-height-dropdown;
}

.selectize-control.plugin-drag_drop {
	&.multi > .selectize-input > div.ui-sortable-placeholder {
		visibility: visible !important;
		background-color: transparent;
		// background-color: lighten(desaturate($selectize-color-item, 100%), 30%);
		// box-shadow: inset 0 0 12px 4px #fff;
	}
	.ui-sortable-placeholder::after {
		content: '!';
		visibility: hidden;
	}
	.ui-sortable-helper {
		box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	}
}
